<h2><center>New Assignment</h2></center>

<%= render partial: 'messages' %>

<%= render partial: 'form', locals: {instructor: @instructor, assignment: @assignment, submit_name: 'Create Assignment'} %>

