<h2><center>INSTRUCTORS</h2></center><br><br>

<ul><center>
<% @instructors.each do |instructor| %>
        Name: <%= instructor.name %><br>
        Type: <%= instructor.category.capitalize if instructor.category %><br>
        Total Students Scheduled: <%= instructor.students_scheduled %><br><br>
<% end %>
</ul></center>

