<h2><center>INSTRUCTORS</h2></center><br><br>

<ul><center>
<% @instructors.each do |instructor| %>
        Name: <%= instructor.name %><br>
        Email: <%= instructor.email %><br>
        Type: <%= instructor.category %><br></br>
<% end %>
</ul></center>

