<div style="width: 600px;margin:auto">
    <img class="irc_mi" src="https://www.donnang.com.au/wp-content/uploads/2017/09/donna-piano-bg.jpg" alt="Image result for piano jpg images" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="600" height="353" style="margin-top: 0px;">
    
    </div>
    <h1 align="center">Practice Made Perfect</h1>

<%= render partial: 'current_user_form', locals: {current_user: current_user} %>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>