<h2><center>LESSONS</h2></center>

<p class='important'>Sorted by most recent date and time</p><br>

<ul><center>
<% @lessons.recent.each do |lesson| %>
        Student: <%= lesson.student.name %><br>
        Instructor: <%= lesson.instructor.name %><br>
        Scheduled Date: <%= lesson.lesson_datetime.strftime('%b %d %Y at %H:%M %p')%><br>
        <%= link_to 'View Description', lesson_path(lesson) %><br><br>
<% end %>
</ul></center>