<h3><center>Create Lesson</h3></center>

<%= render partial: 'messages' %>

<% if @student %>
    <%= render partial: 'student_filled_form', locals: {lesson: @lesson, student: @student, submit_name: 'Create Lesson'} %>
<% else %>
    <%= render partial: 'form', locals: {lesson: @lesson, submit_name: 'Create Lesson'} %>   
<% end %>

