<h2><center>Lesson Display</h2></center>
<br><br>
<div><center>
    <h5>Student: <%= @lesson.student.name %></h5><br>
    <h5>Lesson Date and Time: <%= @lesson.lesson_datetime.strftime('%b %d %Y at %H:%M %p') %></h5><br>
    <h5>Description: <%= @lesson.description %></h5>
</div><br><br>




